@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Diary</h1>
    <p>You can save diary entries in this cool diary application</p>
    <p>Please tell me about your day!</p>
</div>